*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior:smooth;
    
}
body{
    background-color: black;

}
nav{
    padding: 5px;
    margin:.9% 10%;

    height: 70px;
}

.left{
    width: 50%;
    font-size: 1.5rem;

}
nav a{
    
    text-decoration:none;
}

nav a:hover{
    font-size: 2rem;
    transition: 0.3s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    text-align: center;
}

.heading{
    padding: 30px;
    font-size: 2rem;
    text-align: center;
}
.field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.box.input{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input input{
    width: 50%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(141, 7, 110);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.btn{
    margin-left: 40%;
    width: 20%;
    height: 45px;
    color:rgb(141, 7, 110) ;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background-color:rgb(141, 7, 110) ;
    color:white;
    transition: 0.5s;
}

#comment{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(141, 7, 110);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }